body {
	background-color: #9aaea3;
	line-height: 22px; 
	font-size: 16px;
	color: #ffffff;
	font-weight: normal;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #ffffff;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sub_catalog,
.search_dialog,
.login_dialog,
.cart_dialog,
.slider_promo2,
.slider_promo3,
.subscription_dialog {
	display: none;
}

.main_header {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 1146px;
	padding: 9px 27px 0px 27px;
	align-items: center;
	flex-wrap: wrap;
}

.main_logo {
	width: 154px;
	margin-right: 24px;
}

.main_nav {
	width: 600px;
}

.user_block {
	width: 300px;
	margin-left: auto;
}

.header_contacts {
	width: 170px;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	text-align: right;
	margin-left: auto;
	}

.header_contacts b {
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}

.main_nav li,
.user_block li,
.breadcrumbs li,
.pagination li {
	display: inline-block;
}

.main_nav {
	font-size: 0;
}

.main_nav li {
	font-size: 16px;
	line-height: 18px; 
	margin-right: 27px;
}

.main_content {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.main_container {
	width: 1146px;
	padding: 0 27px;
	display: flex;
	flex-wrap: wrap;
}

.slider {
	width: 1146px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 40px; 
}

.main_image {
	margin-left: auto;
	margin-right: auto;
	margin-top: -100px;
	width: 1080px;
	z-index: -1;
}

.ice-cream_name {
	line-height: 61px; 
	font-size: 60px;
	font-weight: bold;
	text-align: center;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -495px;
}

.slider_controls {
	width: 80px;
}

.slider_promo {
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	padding: 12px 40px;
	font-size: 32px;
	font-weight: bold;
	line-height: 44px;
	background-color: #ea5239;
	border-radius: 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.promo_features {
	display: flex;
	margin-bottom: 38px;
	width: 1146px;
}

.promo {
	width: 520px;
	height: 228px;
	padding: 20px;
}

.left {
	background-image: url("../img/raspberry.jpg");
	border-radius: 20px;
}

.right {
	margin-left: auto;
	background-image: url("../img/chocolate.jpg");
	border-radius: 20px;
}

.catalog {
	width: 1146px;
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	margin-bottom: 40px;  
}

.catalog_item {
	width: 267px;
}

.catalog_item img {
	border-radius: 267px;
}

.catalog_item p {
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	margin-top: -65px; 
}

.catalog_item span {
	font-size: 30px;
}

.features {
	color: #323232;
	padding: 27px 21px;
	margin-bottom: 40px;
	background-image: url("../img/waffle.jpg");
	height: 306px;
	display: flex;
	flex-wrap: wrap;
	border-radius: 20px; 
}

.features h3 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.features_left {
	width: 480px;
	margin-left: 56px;
}

.features_right {
	width: 480px;
	margin-left: auto;
}

.news {
	width: 1146px;
	margin-bottom: 40px;
	display: flex;
}

.blog {
	width: 520px;
	min-height: 200px;
	padding: 20px;
	color: #323232;
	background-image: url("../img/strawberry.jpg");
	background-repeat: no-repeat;
	background-position: 10% 37%;
	border-radius: 20px;
}

.blog a {
	display: block;
	color: #323232;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	text-decoration: underline;
	margin-right: 230px;
}

.subscription {
	width: 510px;
	min-height: 190px;
	padding: 20px;
	color: #5a5a5a;
	margin-left: auto;
	border: 5px solid white;
	border-radius: 20px;
	background-color: #f8f7f4;
}

.map {
	display: flex;
	justify-content: flex-end;
	height: 430px;
	background-image: url("../img/map.png");
}

.contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 302px;
	color: #323232;
	background-color: #fefefe;
	border-radius: 10px;
	padding: 28px 25px;
	margin-right: 27px;
	margin-top: 62px;
	margin-bottom: 62px;
}

.contacts p {
	margin: 0;
}

.contacts p:first-child {
	margin-right: 120px;
}

.contacts p:nth-child(2) {
	margin-right: 90px;
	margin-bottom: 27px;
}

.top_main {
	display: flex;
	flex-direction: column;
}

.breadcrumbs {
	width: 400px;
	font-size: 0;
	margin-top: -20px;
	margin-bottom: 10px; 
}

.breadcrumbs li {
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	margin-right: 22px;
}

.promo_phrase {
	line-height: 41px; 
	font-size: 35px;
	font-weight: bold;
	margin-top: 0;
}

.filter {
	width: 879px;
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
}

.sort_filter {
	width: 200px;
	min-height: 80px;
}

.price_filter {
	width: 220px;
	min-height: 80px;
}

.fat_filter {
	width: 400px;
	min-height: 80px;
}

.filler_filter {
	width: 700px;
	min-height: 80px;
}

.btn_filter {
	display: inline-block;
	align-self: center;
}

.pagination {
	width: 188px;
	font-size: 0px;
	margin-top: 84px;
	margin-left: auto; 
}

.pagination li {
	margin-right: 21px;
	font-size: 16px;
	line-height: 18px;
}

.pagination li:last-child {
	margin-right: 0;
}

.main_footer {
	margin-top: 25px;
	margin-bottom: 30px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 1146px;
	padding: 0 27px;
	flex-wrap: wrap;
	justify-content: space-between; 
}

.social {
	width: 185px;
}

.social a {
	margin-right: 11px;
}

.author {
	width: 200px;
	font-size: 12px;
	line-height: 18px;
	margin-top: -6px;
}

.author p {
	padding: 0;
	margin: 0;
}

.footer_nav {
	display: flex;
}

.footer_nav_column1 {
	margin-right: 32px;
}
